div.testimonials_box {
    display: flex;
    flex-direction: column;

    border-radius: 10px;
    padding-top: 10px;

    width: 320px;
    // height: 100%; // ou ?
    height: auto;
    background-color: var(--white);
    border: solid .5px transparent;

    div.banner_img_company {
        border-radius: 18px;
        margin: 0 10px;
    
        max-height: 150px;
        min-height: 150px;

        div {
            display: none;
        }
    }

    p.comment {
        width: 100%;
        height: auto;
        padding: 10px 20px;
        text-align: center;
        font-size: 1.1rem;

        color: var(--black-80);
    }

    div.footer {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 8px 15px;

        margin-top: auto;

        border-radius: 0 0 10px 10px;
        background-color: var(--black-dark);
        color: var(--white);

        div.image_person {
            width: 60px;
            height: 60px;

            position: relative;
            border-radius: 999px;

            img {
                border-radius: 999px;

                object-fit: cover;
                object-position: top;
            }
        }

        div {
            small {
                font-weight: 100;
            }
        }
    }
}

div.testimonials_box:hover {
    border-color: var(--black-dark-50);
    
    div.banner_img_company {
        div {
            height: 150px;
            
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--black-dark-80);
            border-radius: 18px;
            padding: 0 10px;

            color: var(--white);
            font-size: 1.2rem;
            text-align: center;
        }
    }
}

@media (max-width: 1024px) {
    div.testimonials_box {
        border-radius: 8px;
        padding-top: 8px;
    
        width: 310px;

        div.banner_img_company {
            border-radius: 14px;
            margin: 0 8px;

            max-height: 140px;
            min-height: 140px;
        }

        p.comment {
            font-size: 1rem;
            padding: 8px 10px;
        }

        div.footer {
            gap: 8px;
    
            border-radius: 0 0 8px 8px;
    
            div.image_person {
                width: 45px;
                height: 45px;
            }
        }
    }

    div.testimonials_box:hover {
        div.banner_img_company {
            div {
                height: 140px;
                border-radius: 14px;

                font-size: 1rem;
            }
        }
    }
}

@media (max-width: 596px) {
    div.testimonials_box {
        width: 100%;
        border-radius: 1px;

        div.banner_img_company {
            border-radius: 5px;
        }

        p.comment {
            font-size: 1rem;
            padding: 10px 20px;
        }

        div.footer {
            border-radius: 0 0 1px 1px;
        }
    }

    div.testimonials_box:hover {
        div.banner_img_company {
            div {
                border-radius: 5px;
            }
        }
    }
}