@use '../../../styles/variable';

div.container_articles {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 20px;

    
    div.containt {
        width: 95%;
        height: auto;
        margin: 0 auto;
    }
}