section.service_page {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 50px 20px 0;
    background-color: var(--white-mediumn);

    div.title_service {
        margin-top: 20px;
        margin-left: 50px;

        h3 {
            font-size: 2rem;
            color: var(--black-80);
        }
    }

    article.content {
        width:  auto;
        padding: 20px 0;
        margin: 0 auto 0 50px;

        p {
            line-height: 2rem;
            font-size: 1.1rem;
        }
    }
}

@media (max-width: 1024px) {
    section.service_page {
        padding: 30px 10px 0;
    }
}

@media (max-width: 896px) {
    section.service_page {
        div.title_service {
            margin-left: 13px;

            h3 {
                font-size: 1.5rem;
            }
        }

        article.content {
            width:  85%;
            margin: 0 auto 0 13px;
        }
    }
}

@media (max-width: 768px) {
    section.service_page {
        div.title_service {
            margin-left: 8px;
        }
        
        article.content {
            width: 100%;
            padding: 20px 8px;
            margin: 0 auto;
        }
    }
}