section.bannerTitle {
    position: relative;
    width: 100%;
    height: 300px;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: left;

    div.image {
        z-index: -1;
        
        width: 100%;
        height: 300px;

        top: 0;
        position: absolute;

        img {
            object-fit: cover;

            width: 100%;
            height: 100%;

            filter: brightness(.3);
        }
    }
}

@media (max-width: 1024px) {
    section.bannerTitle {
        height: 250px;

        div.image {
            height: 250px;
        }
    }
}

@media (max-width: 768px) {
    section.bannerTitle {
        height: 230px;

        div.image {
            height: 230px;
        }
    }
}