@use '../../../styles/variable';

button.primary_btn {
    height: 32px;
    background-color: variable.$primary-color;
    color: variable.$white;
    border: solid 1px transparent;
    
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: max-content;
    padding: 0 20px;

    vertical-align: center;
    color: variable.$white;
    font-weight: 500;
    font-size: 1.03rem;

    transition: opacity .5;

    svg {
        margin-left: 10px;
        vertical-align: middle;
        transform: translateX(5%);
    }

    -webkit-transition: box-shadow .3s ease-in-out, color .3s ease-in-out;
    transition: box-shadow .3s ease-in-out, color .3s ease-in-out;
}

button.primary_btn:hover {
    box-shadow: 0 0 40px 40px variable.$white inset;
    border: solid 1px variable.$primary-color;
    color: variable.$primary-color;

    opacity: .95;
    transition: opacity .5;

    svg {
        transform: translateX(20%);
    }
}

button.secundary_btn {
    border-radius: 8px;
    background-image: linear-gradient(45deg, variable.$white 50%, transparent 50%);
    background-image: -webkit-linear-gradient(45deg, variable.$white 50%, transparent 50%);

    background-size: 400%;

    color: variable.$primary-color;
    border: solid 1px variable.$primary-color;
    
    transition: background .3s ease-in-out;
}

button.secundary_btn:hover {
    background-position: 100%;
    color: variable.$white;
    box-shadow: 0 0 0 0;
}

button.custommer_btn {
    font-size: 1.03rem;
    padding: 0 0 0 20px;

    transition: background .2s ease-out;
    box-shadow: 0 0 0 0;

    div > div {
        font-size: 1.03rem;
        color: variable.$black-dark;
        
        font-weight: 500;
        padding: 5px 10px 5px 5px;

        display: inline-block;
        vertical-align: middle;

        height: 32px;
        border-radius: 0 10px 10px 0;
        background-color: variable.$white;
        
        border-top: 1px;
        border-bottom: 1px;
        border-right: 1px;
        border-left: 0;

        border-style: solid;
        border-color: variable.$primary-color;
        box-shadow: 0 0 0 0;

        transition: background .2s ease-out;
    }
}

button.custommer_btn:hover {
    box-shadow: 0 0 0 0;
    background-color: variable.$white;

    div > div {
        color: variable.$white;
        background-color: variable.$primary-color;
    }
}

button.arrowdow_btn {
    height: auto;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;

    svg {
        margin: 0;
        transform: translate(0%, 0%);
    }
}

button.arrowdow_btn:hover {
    height: auto;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;

    svg {
        margin: 0;
        transform: translate(0%, 20%);
    }
}

button.loading_btn {
    border-radius: 3px;
    min-width: 90px;

    svg {
        margin: 0 auto;
        transform: translateX(0%);

        animation: spin 1s linear infinite;
    }
}

button.loading_btn:hover {
    svg {
        transform: translateX(0%);
    }
}

button.disabled_btn {
    box-shadow: 0 0 0 0;
    border: solid 1px '#707070';
    filter: grayscale(1) brightness(2);

    opacity: 1;

    svg {
        transform: none;
    }
}

button.disabled_btn:hover {
    box-shadow: 0 0 0 0;
    border: solid 1px '#707070';
    color: variable.$white;

    opacity: 1;
    filter: grayscale(1) brightness(2);

    svg {
        transform: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}