.dialog {
    position: absolute;
    height: auto;
    top: -45px;
    z-index: 50;
    transition: .5s ease-in;
    padding: 5px 0;
    width: 100%;

    .dialogpanel {
        height: auto;
        width: max-content;
        display: flex;
        align-items: center;
        gap: 3px;
        padding: 3px 10px;
        margin: 0 auto;

        background: #FF5555;
        opacity: background .5;
        border: .5px solid rgba(255, 0, 0, .5);

        backdrop-filter: blur(2px);
        border-radius: 999px;

        p {
            color: #FFF;
            font-size: .8rem;
            font-weight: 500;
        }
    }
}

.dialog_hidden {
    display: none;
}