section.services {
    width: 100%;
    background: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0;
    max-width: var(--max-section);

    div.container_services {
        width: 100%;
        height: auto;

        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;

        padding: 0 35px;
        gap: 35px;

        div.box_services {
            width: 375px;
            height: auto;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
    
            color: var(--blue-dark);
            background-color: var(--white);

            border: solid .5px var(--black-dark-50);
            border-radius: 15px;

            gap: 8px;
            padding: 10px;

            img {
                margin-top: 5px
            }

            p {
                font-size: 1.3rem;
                font-weight: 500;
            }

            small {
                text-align: center;
                color: var(--blue-dark-50);
                font-size: 1.1rem;
            }
        }

        div.black {
            background-color: var(--blue-dark);
            color: var(--white);
            border: var(--blue-dark);
            
            small {
                color: var(--white-50);
            }
        }
    }

    a {
        text-decoration: none;
    }
}

@media (max-width: 896px) {
    section.services {
        div.container_services {
            div.box_services {
                width: 100%;
            }
        }
    }
}

@media (max-width: 1024px) {
    section.services {
        gap: 30px;
        margin: 30px 0;
        div.container_services {
            padding: 0 20px;
            gap: 10px;

            div.box_services {
                p {
                    font-size: 1.2rem;
                    font-weight: 500;
                }
    
                small {
                    font-size: 1rem;
                }
            }

            div.black {
                p {
                    font-weight: 400;
                }
            }
        }
    }
}

@media (max-width: 720px) {
    section.services {
        div.container_services {
            padding: 0 8px;

            div.box_services {
                border-radius: 5px;
            }
        }
    }
}

@media (max-width: 625px) {
    section.services {
        div.container_services {
            div.box_services {
                max-width: 100%;
            }
        }
    }
}
