@use '../../../styles/variable';

section.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2rem;
        color: variable.$black-80;
        margin-top: 50px;
    }
}

section.serviceContainer {
    width: 100%;
    gap: 50px;
    
    div.sectionServices {
        display: flex;
        flex-direction: column;
        width: 100%;

        h3 {
            font-size: 1.8rem;
            color: variable.$white-mediumn-dark;
            font-weight: 300;
            padding: 0 0 20px 50px;
        }
    }
}