@use '../../../styles/variable';

section.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 2rem;
        color: variable.$black-80;
    }
}

section.container_clients {
    display: flex;
    flex-direction: column;
    gap: variable.$border-client;

    border: variable.$border-client solid variable.$white;
    width: 100%;

    div.container_images_gallery {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: variable.$border-client;

        div.images_gallery {
            display: flex;
            gap: variable.$border-client;
    
            div {
                position: relative;
                height: 300px;
                width: 100%;
                gap: variable.$border-client;

                img {
                    object-fit: cover;
                }
            }
        }

        div.images_gallery:nth-child(2) {
            flex-basis: auto;
            div:nth-child(1) {
                flex: .5;
            }
            div:nth-child(2) {
                flex: 1;
            }
            div:nth-child(3) {
                flex: .5;
            }
        }
    
    }

    div.depositions_section {
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin: 50px 0;
        }

        div.container_testimonials_box {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            gap: 10px;

            padding: 20px 10px;
            background-color: variable.$white-mediumn;
        }
    }
}

@media (max-width: 1024px) {
    section.container_clients {
        div.container_images_gallery {
            div.images_gallery {
                div {
                    height: 220px;
                }
            }

            div.images_gallery:nth-child(2) {
                div:nth-child(1),
                div:nth-child(2),
                div:nth-child(3) {
                    flex: 1;
                }
            }
        }

        div.depositions_section {
            h2 {
                margin: 30px 0;
                font-size: 1.8rem;
            }
        }
    }
}

@media (max-width: 768px) {
    section.container_clients {
        div.container_images_gallery {
            div.images_gallery:nth-child(2) {
                div:nth-child(2) {
                    display: none;
                }
            }
        }

        div.depositions_section {
            h2 {
                margin: 25px 0;
                font-size: 1.5rem;
                text-align: center;

                width: 80%;
            }
        }
    }
}