@use '../../../styles/variable';

section.principal {
    width: 100%;
    padding: 130px 25px 25px 25px;
    height: 90vh;
    max-width: 1700px;

    display: grid;
    grid-template-columns: auto 1fr 1fr 1fr 1fr auto;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-areas:
        ". . . . . ."
        ". description description boxs-image boxs-image ."
        ". description description boxs-image boxs-image ."
        ". description description boxs-image boxs-image ."
        ". . . . . .";

    justify-content: stretch;
    align-items: start;
    gap: 22px;

    div.titulo_and_apresentation {
        grid-area: description;
        display: flex;
        flex-direction: column;
        gap: 25px;

        width: 100%;
        height: 100%;

        h1 {
            font-size: 3rem;
            fallback: 'sans-serif';
            line-height: 3.31rem;
            color: variable.$blue-dark;
            
            span {
                display: block;
                color: variable.$primary-color;
                margin-left: 20px;
            }

            span + span {
                display: block;
                margin-left: 50px;
            }
        }

        h3 {
            align-self: flex-end;
            width: 85%;
            text-align: right;
            font-size: 1.2rem;

            color:  variable.$black-80;
        }
        p {
            width: 85%;
            font-size: 1.1rem;
            font-weight: 500;
            color: variable.$black-50;
        }
    }

    div.box_imgs {
        grid-area: boxs-image;
        position: relative;

        height: 85%;
        max-width: 85%;
        min-width: 600px;
        width: auto;

        justify-self: start;
        align-self: end;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 60%;
        }
        
        img:nth-child(1) {
            border-radius: 10px;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        img:nth-child(2) {
            border-radius: 25px;
            border: solid 1px variable.$white;
            z-index: 1;
        }

        img:nth-child(3) {
            border-radius: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    button {
        max-width: 200px;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px) {
    section.principal {
        padding-top: 50px;

        div.box_imgs {
            min-width: 350px;
        }
    }
}