@use '../../../styles/variable';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: variable.$max-width-screen;
    margin: 0 auto;
}

.home_page {
    background-image: variable.$radial-gradient-bg, url('/images/Background-img.png');

    background-repeat: no-repeat, no-repeat;
    background-size: 60% 180vh, 60%;
    background-position: top right, top right;
}