@use '../../../styles/variable';

.main {
    max-width: variable.$max-width-screen;
    margin: 0 auto;
    padding-top: variable.$height-nav-bar;

    background-image: variable.$radial-gradient-bg, url('/images/Background-img.png');

    background-repeat: no-repeat, no-repeat;
    background-size: 100%, variable.$backgroud-size-principal-section;
    background-position: top, top right;
}