@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        @apply border-border;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    :root {
        --black-dark: rgb(8, 12, 16);
        --black-dark-97: rgba(8, 12, 16, 0.97);
        --black-dark-90: rgba(8, 12, 16, 0.9);
        --black-dark-80: rgb(8, 12, 16, 0.8);
        --black-dark-60: rgba(8, 12, 16, 0.6);
        --black-dark-50: rgba(8, 12, 16, 0.5);
        --black-dark-20: rgba(8, 12, 16, 0.2);

        --blue-dark: rgb(40, 6, 90);
        --blue-dark-50: rgba(40, 6, 90, .50);
        --blue-dark-97: rgba(40, 6, 90, .97);

        --black: rgb(0, 0, 0);
        --black-80: rgba(0, 0, 0, 0.8);
        --black-50: rgba(0, 0, 0, 0.5);
        --black-10: rgba(0, 0, 0, 0.1);

        --white: rgb(255, 255, 255);
        --white-50: rgba(255, 255, 255, 0.5);
        --white-75: rgba(255, 255, 255, 0.75);
        --white-80: rgba(255, 255, 255, 0.8);
        --white-90: rgba(255, 255, 255, 0.9);

        --white-blog: rgb(255, 252, 250);

        --white-mediumn: rgb(235, 235, 235);
        --white-mediumn-dark: rgb(85, 85, 85);

        --white-regular: rgb(170, 170, 170);
        --white-regular-80: rgba(170, 170, 170, 0.8);

        --primary-color: rgb(181, 12, 251);
        --primary-color-50: rgba(181, 12, 251, .5);
        --primary-color-75: rgba(181, 12, 251, .75);
        --link-color: rgb(118, 18, 134);
        --link-color-60: rgba(118, 18, 134, 0.6);

        --radial-gradient-bg: radial-gradient(49.89% 67.16% at 83.93% 0%, var(--white-75) 0%, var(--white-75) 0.01%, var(--white) 100%);
        --black-dark-80-gradient: linear-gradient(90deg, var(--black-dark-80) 0%, var(--black-dark-80) 0%);

        --media-radial-shadow: radial-gradient(44.47% 44.47% at 50% 50%, rgba(255, 255, 255, 0.15) 0%, #FFFFFF 86.03%);

        --height-nav-bar: 80px;
        --max-width-screen: 2560px;
        --max-section: 1700px;
        --border-client: 2px;

        // ----------------------------------

        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;

        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;

        --radius: 0.5rem;
    }

    .scrollbar-none {
        ::-webkit-scrollbar {
            width: 0px;
            height: 0px;
        }
    }

    html {
        scroll-behavior: smooth;
    }

    ::selection {
        color: white;
        background-color: var(--primary-color);
    }

    body {
        @apply bg-background text-foreground;
        width: 100%;
        min-height: 100vh;
        margin: 0 auto;

        font-size: 17px;
        --webkit-font-somoothing: antialiased;
    }

    img {
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -o-user-select: none;
        user-select: none;
    }

    ul {
        list-style: none;
    }

    button {
        border: none;
        background: none;
        cursor: pointer;
    }

    a.button {
        width: max-content;
        height: auto;
        text-decoration: none;

        button {
            margin: 0;
        }
    }

    a,
    button {
        -webkit-tap-highlight-color: transparent;
    }

    code {
        counter-reset: line;
    }

    code>[data-line]::before {
        counter-increment: line;
        content: counter(line);

        display: inline-block;
        width: 1rem;
        margin-right: 2rem;
        text-align: right;
        color: gray;
    }

    code[data-line-numbers-max-digits='2']>[data-line]::before {
        width: 2rem;
    }

    code[data-line-numbers-max-digits='3']>[data-line]::before {
        width: 3rem;
    }
}

@layer components {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: var(--max-width-screen);
        margin: 0 auto;

        padding-top: calc(var(--height-nav-bar) + 20px);
    }

    .home_page {
        background-image: var(--radial-gradient-bg), url('/images/Background-img.png');

        background-repeat: no-repeat, no-repeat;
        background-size: 60% 180vh, 60%;
        background-position: top right, top right;

        padding-top: 0;
    }

    @media (max-width: 1440px) {
        .home_page {
            background-size: 70% 180vh, 70%;
        }
    }

    @media (max-width: 896px) {
        .home_page {
            background-size: 100% 100vh, 100vh;
        }
    }

    section.principal {
        width: 100%;
        padding: 150px 25px 25px 25px;
        height: 600px;
        max-width: 1700px;

        display: grid;
        grid-template-columns: auto 1fr 1fr .5fr .5fr .5fr auto;
        grid-template-rows: auto 1fr 1fr 1fr auto;
        grid-template-areas:
            ". . . . . . ."
            ". description description boxs-image boxs-image boxs-image ."
            ". description description boxs-image boxs-image boxs-image ."
            ". description description boxs-image boxs-image boxs-image ."
            ". . . . . . .";

        justify-content: stretch;
        align-items: start;
        gap: 22px;

        div.titulo_and_apresentation {
            grid-area: description;
            display: flex;
            flex-direction: column;

            gap: 25px;

            width: 100%;
            height: 100%;

            h1 {
                font-size: 3rem;
                fallback: 'sans-serif';
                line-height: 3.31rem;
                color: var(--blue-dark);
                margin-bottom: 10px;

                span {
                    display: block;
                    color: var(--primary-color);
                    margin-left: 20px;
                }
            }

            p {
                margin-left: 20px;
                width: 80%;
                font-size: 1.1rem;
                font-weight: 500;
                color: var(--black-50);
                margin-bottom: 10px;
            }

            a {
                text-decoration: none;
                margin-left: 20px;
            }
        }

        button {
            max-width: 200px;
            align-items: center;
            justify-content: center;

            margin-top: 10px;
        }

        div.box_imgs {
            grid-area: boxs-image;
            position: relative;

            height: 85%;
            max-width: 85%;
            min-width: 500px;
            width: auto;

            justify-self: start;
            align-self: end;

            display: flex;
            justify-content: center;
            align-items: center;

            img {
                height: 60%;
            }

            img:nth-child(1) {
                border-radius: 10px;
                position: absolute;
                left: 0;
                bottom: 0;
            }

            img:nth-child(2) {
                border-radius: 25px;
                z-index: 1;
            }

            img:nth-child(3) {
                border-radius: 10px;
                position: absolute;
                top: 0;
                right: 0;
            }
        }

    }

    @media (max-width: 1440px) {
        section.principal {
            grid-template-columns: auto 1fr 1fr auto auto auto auto;
        }
    }

    @media (max-width: 1232px) {
        section.principal {
            grid-template-columns: auto 1fr 1fr auto auto auto auto;

            div.box_imgs {
                min-width: 300px;
            }
        }
    }

    @media (max-width: 896px) {
        section.principal {
            padding: 130px 20px 30px 20px;
            height: auto;

            grid-template-columns: 1fr;
            grid-template-rows: max-content;
            grid-template-areas:
                "description";

            div.titulo_and_apresentation {
                height: auto;
                align-items: center;

                h1 {
                    font-size: 3rem;
                    line-height: 3rem;
                    margin-bottom: 20px;

                    text-align: center;

                    span {
                        margin: 0 auto;
                    }
                }

                h3 {
                    align-self: flex-end;
                    width: 90%;
                    font-size: 1rem;
                    margin-bottom: 20px;
                }

                p {
                    width: 90%;
                    font-size: 1.1rem;
                    margin-bottom: 20px;

                    text-align: center;
                    align-self: center;
                }
            }

            div.box_imgs {
                display: none;
            }
        }
    }

    section.services {
        width: 100%;
        background: var(--white);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        margin: 50px 0;
        max-width: var(--max-section);

        div.container_services {
            width: 100%;
            height: auto;

            display: flex;
            align-items: stretch;
            justify-content: center;
            flex-wrap: wrap;

            padding: 0 35px;
            gap: 35px;

            div.box_services {
                width: 375px;
                height: auto;

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;

                color: var(--blue-dark);
                background-color: var(--white);

                border-radius: 15px;

                gap: 8px;
                padding: 10px;

                img {
                    margin-top: 5px
                }

                p {
                    font-size: 1.3rem;
                    font-weight: 500;
                }

                small {
                    text-align: center;
                    color: var(--blue-dark-50);
                    font-size: 1.1rem;
                }
            }

            div.box_services:hover {
                img {
                    transition: all;
                    transition-timing-function: ease-in-out;
                    transition-duration: 75ms;
                    transform: scale(1.2);
                }
            }

            div.black {
                background-color: var(--blue-dark);
                color: var(--white);
                border: var(--blue-dark);

                small {
                    color: var(--white-50);
                }
            }
        }

        a {
            text-decoration: none;
        }
    }

    @media (max-width: 896px) {
        section.services {
            div.container_services {
                div.box_services {
                    width: 100%;
                }
            }
        }
    }

    @media (max-width: 1024px) {
        section.services {
            gap: 30px;
            margin: 30px 0;

            div.container_services {
                padding: 0 20px;
                gap: 10px;

                div.box_services {
                    p {
                        font-size: 1.2rem;
                        font-weight: 500;
                    }

                    small {
                        font-size: 1rem;
                    }
                }

                div.black {
                    p {
                        font-weight: 400;
                    }
                }
            }
        }
    }

    @media (max-width: 720px) {
        section.services {
            div.container_services {
                padding: 0 8px;

                div.box_services {
                    border-radius: 5px;
                }
            }
        }
    }

    @media (max-width: 625px) {
        section.services {
            div.container_services {
                div.box_services {
                    max-width: 100%;
                }
            }
        }
    }
}