@use '../../styles/variable';

.main {
    display: flex;
    flex-direction: column;
    align-items: center;

    max-width: variable.$max-width-screen;
    margin: 0 auto;

    padding-top: calc(variable.$height-nav-bar + 20px);
}

.home_page {
    background-image: variable.$radial-gradient-bg, url('/images/Background-img.png');

    background-repeat: no-repeat, no-repeat;
    background-size: 60% 180vh, 60%;
    background-position: top right, top right;

    padding-top: 0;
}

@media (max-width: 1440px) {
    .home_page {
        background-size: 70% 180vh, 70%;
    }
}

@media (max-width: 896px) {
    .home_page {
        background-size: 100% 100vh, 100vh;
    }
}