@use '../../../styles/variable';

section.lasts_posts {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 50px 0;

    div.headler_ {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 30px;
        margin-bottom: 25px;
        background: none;

        h2 {
            color: variable.$black-80;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    div.boxs_news {
        background: none;
        display: flex;
        flex-direction: column;
        max-width: 1900px;
        max-height: 800px;
        height: 100vh;

        padding: 0 100px;
        gap: 10px;

        div.custom_box {
            position: relative;

            height: 100%;
            max-width: 50%;
            width: 100%;

            border-radius: 20px;
            
            div.bg_shadow,
            img.bg_image {
                width: 100%;
                height: 100%;

                border-radius: 20px;
                object-fit: cover;
            }

            img.bg_image {
                position: absolute;
                z-index: 1;
            }
    
            div.bg_shadow {
                position: absolute;
                z-index: 2;

                background-color: variable.$black-dark-50;
            }
    
            div.content {
                width: 100%;
                height: 100%;
                
                position: relative;
                z-index: 3;
                padding: 25px;

                flex-wrap: nowrap;
                overflow: none;

                button {
                    position: absolute;
                    z-index: 999;
                    
                    top: 25px;
                    right: -72px;
                }

                h3 {
                    width: 90%;
                    font-size: 1.1rem;
                    color: variable.$white;
                    margin-bottom: 10px;
                }
    
                small {                    
                    width: 100%;
                    max-height: 100px;
                    color: variable.$white-50;
                    
                    font-size: 1rem;

                    text-overflow: ellipsis;
                    overflow: hidden;

                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    white-space: wrap;
                }
            }
        }

        div.custom_box:nth-child(1) {
            align-self: flex-start;
        }
        div.custom_box:nth-child(2) {
            align-self: center;
        }

        div.custom_box:nth-child(3) {
            align-self: flex-end;
        }
    }
}