@use '../../../styles/variable';

header.header {
    width: 100%;
    height: auto;

    position: fixed;
    background: none;
    top: 0;
    z-index: 999;
    transition: height .5s ease;

    .primary_btn {
        background: variable.$primary-color;
    }

    .nav_bar {
        min-height: variable.$height-nav-bar;
        max-width: variable.$max-width-screen;
        margin: 0 auto;
        padding: 15px 40px 0 55px;
    
        display: flex;
        align-items: center;
        justify-content: space-between;
    
        .logotipo_img img {
            transition: .2s ease-in;
            height: 50px;
            :hover {
                cursor: pointer;
            }
        }
    
        div.navigation {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 35px;
            
            ul.navigation_options {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                gap: 25px;
        
                li {
                    line-height: calc(variable.$height-nav-bar - 10px);
                    vertical-align: center;
        
                    a {
                        font-size: 1.2rem;
                        font-weight: 500;
    
                        text-decoration: none;
                        color: variable.$black-dark;
                        transition: .5s;
                    }
    
                    a:hover {
                        text-decoration: underline;
                        color: variable.$link-color;
                        transition: .5s;
                    }
                }
            }
    
            button.search_btn {
                svg {
                    max-width: 25px;
                }
            }
        }
    }
}

header.onScroll {
    background: variable.$white-75;
    backdrop-filter: blur(4px);
    transition: height .3s ease-in;

    .nav_bar {
        min-height: 40px;

        div.navigation {
            ul.navigation_options {
                li {
                    line-height: 30px;
                }
            }
        }

        .logotipo_img img {
            transition: .1s ease;
            height: 40px;
        }
    }
}

@media (max-width: 1024px) {
    header.header {
        .nav_bar {
            padding-left: 25px;
            padding-right: 30px;
            
            div.navigation {
                gap: 20px;

                ul.navigation_options {
                    gap: 15px;
                }
            }
        }
    }
}