@use '../../../styles/variable';

section.strategy {
    background: variable.$white-mediumn;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 80px;

    padding: 30px 0 0;
    margin: 0 auto;

    div.title_and_description {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: variable.$black-80;
            font-size: 2rem;
            margin-bottom: 20px;
            font-weight: 600;
        }

        p {
            max-width: 50%;
            text-align: center;
            font-size: 1.30rem;
            color: variable.$black-50;
            font-weight: 400;
        }
    }

    div.strategys_and_image {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-image: url('/images/woman-trategy-section.png');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center bottom;

        div.first_block,
        div.secound_block {
            display: flex;
            justify-content: center;
            height: 300px;
            gap: 350px;

            padding: 25px 50px;

            div {
                max-width: 40%;
                height: max-content;
                text-align: justify;
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                h3 {
                    color: variable.$black-dark;
                    font-weight: 400;
                    font-size: 2rem;
                }
                p {
                    color: variable.$black-dark;
                    font-weight: 300;
                    font-size: 1.2rem;
                }
            }

            div.descoberta {
                align-self: center;
            }
    
            div.modelagem {
                align-self: flex-start;
            }

            div.implantacao {
                align-self: flex-end;
            }
    
            div.ideacao {
                align-self: center;
            }
        }
    }
}

@media (min-width: 1440px) {
    section.strategy {
        div.strategys_an_image {
            div.first_block,
            div.secound_block {
                div {
                    max-width: 25%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    section.strategy {
        gap: 25px;

        div.title_and_description {
            h2 {
                font-weight: 500;
            }

            p {
                max-width: 70%;

                font-size: 1.1rem;
                font-weight: 400;
            }
        }

        div.strategys_and_image {
            div.first_block,
            div.secound_block {
                padding: 10px 20px;
                div {
                    h3 {
                        color: variable.$black-dark;
                        font-weight: 300;
                        font-size: 1.8rem;
                    }
                    p {
                        color: variable.$black-dark-97;

                        font-weight: 200;
                        font-size: 1.15rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 896px) {
    section.strategy {
        div.title_and_description {
            p {
                max-width: 80%;
                padding: 0 10px;
            }
        }

        div.strategys_and_image {
            background: none;

            div.first_block,
            div.secound_block {
                height: auto;
                gap: 30px;

                div {
                    max-width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section.strategy {
        div.title_and_description {
            p {
                max-width: 100%;
            }
        }

        div.strategys_and_image {
            div.first_block,
            div.secound_block {
                height: auto;
                gap: 20px;
                flex-direction: column;

                div {
                    max-width: 100%;

                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        color: variable.$black-dark;
                        
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}