@use '../../../styles/variable';

.footer {
    color: variable.$white;
    max-width: variable.$max-width-screen;
    margin: 0 auto;

    div.navigation_container {
        display: flex;
        gap: 20px;
        background: variable.$blue-dark-97;
        padding: 35px 35px 20px;

        .logotipo_img img {
            width: 170px;
            margin-right: 25px;
        }

        div.navigation_content {
            display: flex;
            color: variable.$white;
            gap: 60px;

            nav.menus,
            div.servicos div.menu_services nav {
                ul.navigation_options {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    li {
                        line-height: 2rem;
                        a {
                            font-size: 1.1rem;
                            font-weight: 200;
            
                            text-decoration: none;
                            color: variable.$white-50;
                            transition: .5s;
                        }
            
                        a:hover {
                            text-decoration: underline;
                            color: variable.$white-mediumn;
                            transition: .5s;
                        }
                    }
                }
            }

            nav.menus {
                margin-top: 50px;
            }

            div.servicos {
                div.menu_services {
                    display: flex;
                    gap: 50px;

                    div {
                        h5 {
                            color: variable.$white-80;
                            font-size: 1rem;
                            margin: 10px 0;
                        }
                    }
                }
            }
        }
    }

    div.network_and_copy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 100px;

        background-color: variable.$blue-dark;

        div a {
            color: variable.$white-80;
            margin: 0 5px;
            opacity: .5;
            
            svg {
                max-width: 22px;
            }

            :hover {
                opacity: none;
                color: variable.$white;
            }
        }

        p {
            font-size: 0.99rem;
            opacity: .5;
            font-weight: 100;
            span {
                font-weight: 300;
            }
        }
    }
}

@media (max-width: 896px) {
    .footer {
        div.navigation_container {
            flex-direction: column;
            padding: 20px 20px 10px;

            .logotipo_img img {
                margin: 0;
            }

            div.navigation_content {
                nav.menus {
                    margin-top: 65px;
                }

                div.servicos {
                    div.menu_services {
                        gap: 20px
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        div.navigation_container {
            gap: 0;
            div.navigation_content {
                gap: 20px;
                flex-direction: column;
                nav.menus {
                    margin: 0;
                    ul.navigation_options {
                        flex-direction: row;
                        gap: 15px;
                        justify-content: flex-end;
                        flex-wrap: wrap;
                    }
                }
            }
        }

        div.network_and_copy {
            padding: 5px 20px;
        }
    }
}

@media (max-width: 572px) {
    .footer {
        div.navigation_container {
            gap: 20px;
            div.navigation_content {
                gap: 20px;
                flex-direction: column;

                .logotipo_img img {
                    align-self: center;
                }

                nav.menus {
                    ul.navigation_options {
                        flex-direction: column;
                        gap: 0;
                    }
                }

                div.servicos {
                    div.menu_services {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}