.footer {
    color: var(--white);
    max-width: var(--max-width-screen);
    margin: 0 auto;

    div.navigation_container {
        display: flex;
        background: var(--blue-dark-97);
        padding: 35px 35px 20px;

        .logotipo_img img {
            width: 170px;
            margin-right: 25px;
        }
    }

    div.network_and_copy {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 100px;

        background-color: var(--blue-dark);

        div a {
            color: var(--white-80);
            margin: 0 5px;
            opacity: .5;
            
            svg {
                max-width: 22px;
            }

            :hover {
                opacity: none;
                color: var(--white);
            }
        }

        p {
            font-size: 0.99rem;
            opacity: .5;
            font-weight: 100;
            span {
                font-weight: 300;
            }
        }
    }
}

@media (max-width: 896px) {
    .footer {
        div.navigation_container {
            flex-direction: column;
            padding: 20px 20px 10px;

            .logotipo_img img {
                margin: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    .footer {
        div.network_and_copy {
            padding: 5px 20px;
        }
    }
}