a.widget_button {
    position: fixed;
    z-index: 999;

    right: 20px;
    bottom: 20px;
    display: none;

    img {
        height: 50px;
    }
}

a.widget_button:hover {
    opacity: 1;
}

a.after_principal_section {
    display: block;
}


@media (max-width: 572px) {
    a.widget_button {
        img {
            height: 40px;
        }
    } 
}