@use '../../../../styles/variable';

section.strategy {
    background: variable.$white-mediumn;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    gap: 80px;

    padding: 30px 0 0;
    margin: 0 auto;

    div.title_and_description {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: variable.$black-80;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    div.strategys_and_image {
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-image: url('/images/woman-trategy-section.png');
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-position: center bottom;

        div.first_block,
        div.secound_block {
            display: flex;
            justify-content: center;
            min-height: 300px;
            gap: 350px;

            padding: 25px 50px;

            div {
                width: 40%;
                // text-align: justify;
                display: flex;
                flex-direction: column;
                gap: 10px;
                
                h3 {
                    color: variable.$black-dark;
                    font-weight: 400;
                    font-size: 2rem;
                }
                p {
                    color: variable.$black-dark;
                    font-weight: 300;
                    font-size: 1.1rem;
                }
            }
        }
    }
}

@media (min-width: 1440px) {
    section.strategy {
        div.strategys_an_image {
            div.first_block,
            div.secound_block {
                div {
                    width: 25%;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    section.strategy {
        gap: 50px;

        div.title_and_description {
            h2 {
                font-size: 1.8rem;
                font-weight: 500;
            }
        }

        div.strategys_and_image {
            background: none;

            div.first_block,
            div.secound_block {
                min-height: 0;
                height: auto;
                
                padding: 10px 20px;
                gap: 25px;

                div {
                    height: auto;
                    max-width: 100%;
                    width: 50%;

                    background-color: variable.$white;
                    padding: 20px;
                    border-radius: 10px;

                    h3 {
                        color: variable.$black-dark;
                        font-weight: 300;
                        font-size: 1.5rem;
                    }
                    p {
                        color: variable.$black-dark-97;

                        font-weight: 200;
                        font-size: 1.15rem;
                    }
                }

                div.mindset,
                div.estrateg,
                div.metricas,
                div.evolucao {
                    align-self: flex-start;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width: 896px) {
    section.strategy {
        div.strategys_and_image {
            div.first_block,
            div.secound_block {
                div {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    section.strategy {
        div.title_and_description {
            p {
                width: 100%;
            }
        }

        div.strategys_and_image {
            div.first_block,
            div.secound_block {
                height: auto;
                gap: 20px;
                flex-direction: column;
                padding: 10px 8px;

                div {
                    max-width: 100%;

                    h3 {
                        font-size: 1.5rem;
                    }
                    p {
                        color: variable.$black-dark;
                        font-size: 1.1rem;
                    }
                }
            }
        }
    }
}