@use '../../../styles/variable';

div.post {
    width: 100%;
    background-color: variable.$white;

    a.image {
        position: relative;
        border: solid 1px variable.$black-10;

        img {
            object-fit: cover;

            width: 100%;
            height: 100%;

            transition: .5s ease-out;
            filter: brightness(.8);
        }
    }

    a.image:hover {
        img {
            transition: .5s ease-out;
            filter: brightness(1);
        }
    }

    div.date_and_category {
        display: flex;
        align-items: center;
        width: 100%;
        gap: 5px;

        time {
            color: variable.$black-dark-50;
        }

        div.category_box {
            font-weight: 600;
            width: max-content;
            padding: 1.5px 10px;
            
            text-transform: uppercase;
            color: variable.$link-color;
            background-color: variable.$link-color-60;
            
            border: 1px solid variable.$link-color;
            border-radius: 999px;
        }
    }

    h3.tex_title {
        a {
            color: variable.$primary-color;
            text-decoration: none;
            transition: .1s ease-in-out;
        }

        a:hover {
            color: variable.$link-color;
            transition: .1s ease-in-out;
        }
    }

    p {
        color: variable.$black-dark-50;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    div.interaction {
        height: 50px;
        width: 100%;
        padding: 0 10px;
        margin-top: auto;
        
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.author_info {
            display: flex;
            align-items: center;
            gap: 5px;

            a.avatar {
                position: relative;
                border-radius: 999px;

                width: 35px;
                height: 35px;

                border: 1px solid variable.$link-color;

                img {
                    object-fit: cover;
                    border-radius: 999px;

                    width: 100%;
                    height: 100%;
                }
            }

            p {
                font-size: 1rem;
                color: variable.$black-dark-50;
            }
        }

        div.likes {
            display: flex;
            align-items: center;
            gap: 4px;

            small {
                display: none;
                font-size: .9rem;
                color: variable.$black-dark-50;
            }
        }
    }
}

div.LAST_BOX_POST {
    display: flex;
    flex-direction: column;
    
    border: 1px solid variable.$black-10;

    padding: 5px;
    gap: 10px;

    a.image {
        height: 220px;
        width: 100%;

        border-radius: 4px;

        img {
            border-radius: 4px;
        }
    }

    div.date_and_category {
        padding: 0 10px;

        time {
            font-size: 1rem;
        }

        div.category_box {
            font-size: 1.1rem;
        }
    }

    h3.tex_title {
        width: 80%;
        padding: 0 5px;
        
        a {
            font-size: 2.5rem;
        }
    }

    p {
        font-size: 1.4rem;
        margin: 0 10px;
    }
}


div.BOX_POST {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
        "date image"
        "title image"
        "description image"
        "interaction image";
    gap: 5px;

    border-top: .5px solid variable.$black-10;
    border-bottom: .5px solid variable.$black-10;

    padding: 50px 0 ;

    a.image {
        grid-area: image;
        height: 200px;
        width: 480px;

        border-radius: 4px;

        img {
            border-radius: 4px;
        }
    }

    div.date_and_category {
        grid-area: date;
        padding: 0 5px;

        time {
            font-size: .98rem;
        }

        div.category_box {
            font-size: 1.03rem;
        }
    }

    a.image:hover {
        img {
            transition: .5s ease-out;
            filter: brightness(1.1);
        }
    }

    h3.tex_title {
        grid-area: title;
        width: 90%;

        a {
            font-size: 1.8rem;
        }
    }

    p {
        grid-area: description;
        font-size: 1.1rem;
        color: variable.$black-dark-50;
    }

    div.interaction {
        grid-area: interaction;
    }
}

div.RELATED_BOX_POST {
    display: flex;
    flex-direction: column;
    max-width: 330px;
    height: 500px;
    
    border: 1px solid variable.$black-10;

    padding: 5px;
    gap: 7px;

    a.image {
        height: 150px;
        width: 100%;

        border-radius: 4px;

        img {
            border-radius: 4px;
        }
    }

    div.date_and_category {
        padding: 0 2px;
        gap: 0;
        align-items: start;
        justify-content: space-between;

        time {
            font-size: .98rem;
        }

        div.category_box {
            padding: 1.1px 5px;
            font-size: 1rem;
        }
    }

    h3.tex_title {
        width: 80%;
        padding: 0 2px;
        
        a {
            font-size: 1.8rem;

            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    p {
        font-size: 1.1rem;
        margin: 0 2px;

        -webkit-line-clamp: 3;
    }
}

// TODO: Configurar responsividade