section.section {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-size: 1.5rem;
        color: var(--black-80);
    }
}

section.container_clients {
    display: flex;
    flex-direction: column;
    gap: var(--border-client);

    border: var(--border-client) solid var(--white);
    width: 100%;
}