$black-dark: #080C10;
$black-dark-97: rgba(8, 12, 16, 0.97);

$black: #000;

$white: #FFFFFF;
$white-mediumn: #EBEBEB;
$white-80: rgba(255, 255, 255, 0.8);


$primary-color: #761286; 
$link-color: #CF42C9;

$height-nav-bar: 80px;
$max-width-screen: 1390px;