$black-dark: rgb(8, 12, 16);
$black-dark-97: rgba(8, 12, 16, 0.97);
$black-dark-90: rgba(8, 12, 16, 0.9);
$black-dark-80: rgb(8, 12, 16, 0.8);
$black-dark-50: rgba(8, 12, 16, 0.5);

$blue-dark: rgb(40, 6, 90);
$blue-dark-50: rgba(40, 6, 90, .50);
$blue-dark-97: rgba(40, 6, 90, .97);

$black: rgb(0, 0, 0);
$black-80: rgba(0, 0, 0, 0.8);
$black-50: rgba(0, 0, 0, 0.5);

$white: rgb(255, 255, 255);
$white-50: rgba(255, 255, 255, 0.5);
$white-80: rgba(255, 255, 255, 0.8);
$white-75: rgba(255, 255, 255, 0.75);

$white-mediumn: rgb(235, 235, 235);
$white-mediumn-dark:  rgb(85, 85, 85);

$white-regular: rgb(170, 170, 170);
$white-regular-80: rgba(170, 170, 170, 0.8);

$primary-color: rgb(181, 12, 251);
$link-color: rgb(118, 18, 134);

$radial-gradient-bg: radial-gradient(49.89% 67.16% at 83.93% 0%, $white-75 0%, $white-75 0.01%, $white 100%);
$black-dark-80-gradient: linear-gradient(90deg, $black-dark-80 0%, $black-dark-80 0%);

$media-radial-shadow: radial-gradient(44.47% 44.47% at 50% 50%, rgba(255, 255, 255, 0.15) 0%, #FFFFFF 86.03%);

$height-nav-bar: 80px;
$max-width-screen: 2560px;
$max-section: 1700px;
$border-client: 2px;