@use './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    margin: 0 auto;

    color: variable.$black-dark;
    font-size: 17px;
    --webkit-font-somoothing: antialiased;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}