@use './variable';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    margin: 0 auto;

    color: variable.$black-dark;
    --webkit-font-somoothing: antialiased;
    font-size: 17px;
}

header.header {
    width: 100vw;
    height: auto;

    background: none;
}

ul {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}