@use './variable';


section.principal {
    width: 100%;
    padding: 50px 25px 25px 25px;

    display: grid;
    grid-template-columns: .9fr .9fr 2fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-areas:
        "description description boxs-image"
        "description description boxs-image"
        "button button boxs-image ";

    justify-content: stretch;
    align-items: start;

    div.titulo_and_apresentation {
        grid-area: description;
        display: flex;
        flex-direction: column;
        gap: 25px;

        margin-left: 25px;
        margin-bottom: 25px;
        width: 100%;
        height: 100%;

        h1 {
            font-size: 3rem;
            fallback: 'sans-serif';
            line-height: 3.31rem;
            span {
                display: block;
                color: variable.$primary-color;
                margin-left: 10px;
            }
        }

        h3 {
            align-self: flex-end;
            width: 65%;
            text-align: right;
            font-size: 1.30rem;

            color:  variable.$black-80;
        }
        p {
            width: 65%;
            font-size: 1.2rem;
            font-weight: 500;
            color: variable.$black-50;
        }
    }

    div.box_imgs {
        grid-area: boxs-image;
        position: relative;

        height: 85%;
        width: 90%;
        justify-self: start;
        align-self: end;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 235px;
        }
        
        img:nth-child(1) {
            border-radius: 10px;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        img:nth-child(2) {
            border-radius: 25px;
            border: solid 1px variable.$white;
            z-index: 999;
        }

        img:nth-child(3) {
            border-radius: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    button {
        grid-area: button;
        max-width: 200px;
        align-items: center;
        justify-content: center;

        margin-left: 25px;
    }
}

section.strategy {
    background: variable.$white-mediumn;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    gap: 80px;

    padding: 30px 25px 0 25px;

    div.title_and_description {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: variable.$black-80;
            font-size: 2rem;
            margin-bottom: 20px;
            font-weight: 600;
        }

        p {
            max-width: 50%;
            text-align: center;
            font-size: 1.30rem;
            color: variable.$black-50;
            font-weight: 400;
        }
    }

    div.strategys_an_image {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-image: url('/images/woman-trategy-section.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        div.first_block {
            display: flex;
            justify-content: space-between;
            height: 325px;
            width: 100%;
        }

        div.secound_block {
            display: flex;
            justify-content: space-between;
            height: 325px;
            width: 100%;
        }

        div.first_block,
        div.secound_block {
            div {
                width: 33%;
                height: max-content;
                text-align: justify;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: variable.$black-dark;
                    font-weight: 400;
                    font-size: 2rem;
                }
                p {
                    color: variable.$black-dark;
                    font-weight: 300;
                    font-size: 1.2rem;
                }
            }
        }

        div.first_block {
            display: flex;
            div.descoberta {
                align-self: baseline;
                margin-left: 150px;
                margin-top: 50px;
            }
    
            div.modelagem {
                align-self: flex-start;
                justify-self: flex-end;
            }
        }

        div.secound_block {
            display: flex;
            div.implantacao {
                align-self: flex-start;

                margin-left: 100px;
                margin-top: 100px;
            }
    
            div.ideacao {
                align-self: center;
            }
        }
    }
}

section.services {
    width: 100%;
    background: variable.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0;

    div.container_services {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 25px;
        gap: 50px;

        div.box_services {
            max-width: 300px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
    
            color: variable.$black-dark;
            background-color: variable.$white;

            border: solid .5px variable.$black-50;
            border-radius: 15px;

            padding: 10px;

            svg {
                color: variable.$white-regular;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.3rem;
                font-weight: 200;

                margin-bottom: 10px;
            }

            small {
                text-align: center;
                color: variable.$black-50;
                font-size: 1.1rem;
                margin-bottom: 10px;
            }
        }

        div.black {
            background-color: variable.$black-dark;
            color: variable.$white;

            svg {
                color: variable.$white-regular-80;
            }

            p {
                font-weight: 100;
            }

            small {
                color: variable.$white-80;
            }
        }

    }
}

section.about {
    background-color: variable.$white-mediumn;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    h2 {
        color: variable.$black-80;
        font-size: 2rem;
        margin: 25px 0 0 50px;
        font-weight: 600;
        text-align: center;
    }

    div.content {
        width: 100%;
        display: flex;
        justify-content: stretch;
        padding: 40px;
        gap: 40px;

        img {
            max-width: 450px;
            max-height: 500px;
            border-radius: 10px;
            object-fit: cover;
            object-position: bottom;
        }

        div {
            display: flex;
            flex-direction: column;
            max-height: 490px;
            padding: 20px 0;

            overflow: hidden;
            p {
                line-height: 2.2rem;
                font-size: 1.1rem;
                color: variable.$black-80;
            }

            // p:nth-last-child(1) {
            //     white-space: nowrap; 
            //     overflow: hidden;
            //     text-overflow: ellipsis;
            //     width: 100%;
            // }
        }
    }
}

section.lasts_posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;

    div.headler_ {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 25px 0 50px;
        margin-bottom: 25px;
        background: none;

        h2 {
            margin: 0 auto;

            color: variable.$black-80;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    div.boxs_news {
        background: none;
        display: flex;
        flex-direction: column;
        padding: 0 100px;
        gap: 25px;

        div.custom_box:nth-child(2) {
            align-self: center;
        }

        div.custom_box:nth-child(3) {
            align-self: flex-end;
        }

        div.custom_box {
            position: relative;
            height: 250px;

            border-radius: 20px;
            max-width: 500px;
                
            div.bg_shadow, img.bg_image {
                width: 100%;
                height: 250px;

                border-radius: 20px;
                object-fit: cover;
            }

            img.bg_image {
                position: absolute;
                z-index: 1;
            }
    
            div.bg_shadow {
                position: absolute;
                z-index: 2;

                background-color: variable.$black-dark-50;
            }
    
            div.content {
                width: 100%;
                height: 250px;
                
                position: relative;
                z-index: 3;
                padding: 25px;

                flex-wrap: nowrap;
                overflow: none;

                button {
                    position: absolute;
                    z-index: 999;
                    
                    top: 25px;
                    right: -72px;
                }

                h3 {
                    width: 90%;
                    font-size: 1.1rem;
                    color: variable.$white;
                    margin-bottom: 10px;
                }
    
                small {                    
                    width: 100%;
                    max-height: 100px;
                    color: variable.$white-50;
                    
                    font-size: 1rem;

                    text-overflow: ellipsis;
                    overflow: hidden;

                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    white-space: wrap;
                }
            }
        }
    }
}

section.blog {
    width: 100%;
    background-image: variable.$black-dark-80-gradient, url("/images/contato.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

    color: variable.$white-80;

    display: flex;
    align-items: stretch;
    flex-basis: auto;

    div.sideinfo,
    div.sideform {
        display: flex;
        justify-content: stretch;
        padding: 50px;
        background: none;
    }

    div.sideinfo {
        flex: 1;
        flex-direction: column;
        gap: 30px;

        div.contacts {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        div.address {
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    }

    div.sideform {
        flex: 2;
        display: flex;
        align-items: center;
        justify-content: center;

        form {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto auto auto auto auto;
            grid-template-areas:
                "name address"
                "phone email"
                "textmessage textmessage"
                "terms terms"
                "button .";
            gap: 20px;
            min-width: 90%;

            input:not(input[type="checkbox"], input[type="button"]) {
                border-radius: 5px;
                width: 100%;
                height: 45px;
                padding: 10px 20px;
                font-weight: 500;
                font-size: 1.07rem;
            }

            input::placeholder {
                font-size: 1.07rem;
            }

            input, textarea {
                border: 0;
                outline: none;
            }

            input[name="name"] {
                grid-area: name;
            }
            input[name="address"] {
                grid-area: address;
            }
            input[name="phone"] {
                grid-area: phone;
            }
            input[name="email"] {
                grid-area: email;
            }
            textarea[name="message_text"] {
                grid-area: textmessage;
                width: 100%;
                height: 150px;
                border-radius: 5px;
                padding: 20px;
                font-size: 1.07rem;
                font-weight: 500;

                resize: none;
            }
            label {
                grid-area: terms;
                vertical-align: middle;

                input[type="checkbox"] {
                    margin-right: 5px;
                }

                font-size: .9rem;
                color: variable.$white-80;

                a {
                    color: variable.$white-80;
                    text-decoration: none;
                    :hover {
                        text-decoration: underline;
                    }
                }
            }
            

            input[type="button"] {
                grid-area: button;
                width: max-content;
                height: 32px;
                
                background-color: variable.$primary-color;
                color: variable.$white;
                
                padding: 0 20px;
                text-align: center;
                vertical-align: middle;
                border-radius: 3px;
                font-size: 1.03rem;
                font-weight: 500;
                transition: opacity .5;
                cursor: pointer;

            }

            input[type="button"]:hover {
                opacity: .95;
                transition: opacity .5;
            }
        }
    }
}