@use './variable';


section.principal {
    width: 100%;
    padding: 50px 25px 25px 25px;

    display: grid;
    grid-template-columns: .9fr .9fr 2fr;
    grid-template-rows: 1fr 1fr 1fr auto;
    grid-template-areas:
        "description description boxs-image"
        "description description boxs-image"
        "button button boxs-image ";

    justify-content: stretch;
    align-items: start;

    div.titulo_and_apresentation {
        grid-area: description;
        display: flex;
        flex-direction: column;
        gap: 25px;

        margin-left: 25px;
        margin-bottom: 25px;
        width: 100%;
        height: 100%;

        h1 {
            font-size: 3rem;
            fallback: 'sans-serif';
            line-height: 3.31rem;
            span {
                display: block;
                color: variable.$primary-color;
                margin-left: 10px;
            }
        }

        h3 {
            align-self: flex-end;
            width: 65%;
            text-align: right;
            font-size: 1.30rem;

            color:  variable.$black-80;
        }
        p {
            width: 65%;
            font-size: 1.2rem;
            font-weight: 500;
            color: variable.$black-50;
        }
    }

    div.box_imgs {
        grid-area: boxs-image;
        position: relative;

        height: 85%;
        width: 90%;
        justify-self: start;
        align-self: end;

        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 235px;
        }
        
        img:nth-child(1) {
            border-radius: 10px;
            position: absolute;
            left: 0;
            bottom: 0;
        }

        img:nth-child(2) {
            border-radius: 25px;
            border: solid 1px variable.$white;
            z-index: 999;
        }

        img:nth-child(3) {
            border-radius: 10px;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    button {
        grid-area: button;
        max-width: 200px;
        align-items: center;
        justify-content: center;

        margin-left: 25px;
    }
}

section.strategy {
    background: variable.$white-mediumn;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    gap: 80px;

    padding: 30px 25px 0 25px;

    div.title_and_description {
        display: flex;
        flex-direction: column;

        align-items: center;

        h2 {
            color: variable.$black-80;
            font-size: 2rem;
            margin-bottom: 20px;
            font-weight: 600;
        }

        p {
            max-width: 50%;
            text-align: center;
            font-size: 1.30rem;
            color: variable.$black-50;
            font-weight: 400;
        }
    }

    div.strategys_an_image {
        height: 97vh;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        background-image: url('/images/woman-trategy-section.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        div.first_block {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
        }

        div.secound_block {
            display: flex;
            justify-content: space-between;
            height: 100%;
            width: 100%;
        }

        div.first_block,
        div.secound_block {
            div {
                width: 30%;
                height: max-content;
                text-align: justify;
                display: flex;
                flex-direction: column;
                gap: 10px;

                h3 {
                    color: variable.$black-dark;
                    font-weight: 400;
                    font-size: 2rem;
                }
                p {
                    color: variable.$black-dark;
                    font-weight: 300;
                    font-size: 1.2rem;
                }
            }
        }

        div.first_block {
            position: relative;
            div.descoberta {
                position: absolute;
                top: 50px;
                left: 190px;
            }
    
            div.modelagem {
                position: absolute;
                right: 50px;
                top: 25px;
            }
        }

        div.secound_block {
            position: relative;

            div.implantacao {
                position: absolute;
                bottom: 25px;
                left: 140px;
            }
    
            div.ideacao {
                position: absolute;
                right: 50px;
                top: 100px;
            }
        }
    }
}

section.services {
    width: 100%;
    background: variable.$white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 50px 0;

    div.container_services {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;

        div.box_services {
            max-width: 300px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
    
            color: variable.$black-dark;
            background-color: variable.$white;

            border: solid .5px variable.$black-50;
            border-radius: 15px;

            padding: 10px;

            svg {
                color: variable.$white-regular;
                margin-bottom: 10px;
            }

            p {
                font-size: 1.3rem;
                font-weight: 200;

                margin-bottom: 10px;
            }

            small {
                text-align: center;
                color: variable.$black-50;
                font-size: 1.1rem;
                margin-bottom: 10px;
            }
        }

        div.black {
            background-color: variable.$black-dark;
            color: variable.$white;

            svg {
                color: variable.$white-regular-80;
            }

            p {
                font-weight: 100;
            }

            small {
                color: variable.$white-80;
            }
        }

    }
}

section.about {
    background-color: variable.$white-mediumn;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    h2 {
        color: variable.$black-80;
        font-size: 2rem;
        margin: 25px 0 0 50px;
        font-weight: 600;
        text-align: center;
    }

    div.content {
        width: 100%;
        display: flex;
        padding: 40px;
        gap: 40px;

        img {
            border-radius: 10px;
            object-fit: cover;
            object-position: bottom;
        }

        div {
            display: flex;
            flex-direction: column;
            gap: 24px;

            p {
                font-size: 1.1rem;
            }
        }
    }
}

section.lasts_posts {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 0;

    div.headler_ {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 25px 0 50px;
        margin-bottom: 25px;
        background: none;

        h2 {
            margin: 0 auto;

            color: variable.$black-80;
            font-size: 2rem;
            font-weight: 600;
        }
    }

    div.boxs_news {
        background: none;
        display: flex;
        flex-direction: column;
        padding: 0 25px;
        gap: 25px;

        div.custom_box:nth-child(2) {
            align-self: center;
        }

        div.custom_box:nth-child(3) {
            align-self: flex-end;
        }

        div.custom_box {
            position: relative;
            height: 250px;

            border-radius: 20px;
            max-width: 40%;
                
            div.bg_shadow, img.bg_image {
                width: 100%;
                height: 250px;

                border-radius: 20px;
                object-fit: cover;
            }

            img.bg_image {
                position: absolute;
                z-index: 1;
            }
    
            div.bg_shadow {
                position: absolute;
                z-index: 2;

                background-color: variable.$black-dark-50;
            }
    
            div.content {
                width: 100%;
                height: 250px;
                
                position: relative;
                z-index: 3;
                padding: 25px;

                flex-wrap: nowrap;
                overflow: none;

                button {
                    position: absolute;
                    z-index: 999;
                    
                    top: 25px;
                    right: -72px;
                }

                h3 {
                    width: 90%;
                    font-size: 1.1rem;
                    color: variable.$white;
                    margin-bottom: 10px;
                }
    
                small {                    
                    width: 100%;
                    max-height: 100%;
                    color: variable.$white-50;
                    font-size: 1rem;

                    text-overflow: ellipsis;
                    overflow: none;

                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    white-space: wrap;
                }
            }
        }
    }
}