@use '../../../styles/variable';

button.primary_btn {
    height: 32px;
    background-color: variable.$primary-color;
    color: variable.$white;
    
    display: flex;
    align-items: center;
    border-radius: 10px;
    width: max-content;
    padding: 0 20px;

    vertical-align: center;
    color: variable.$white;
    font-weight: 500;
    font-size: 1.03rem;
}