@use '../../../styles/variable';

div.quote_section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 50px;

    gap: 50px;

    width: 100%;
    height: 430px;

    background-color: variable.$blue-dark-50;

    p {
        font-size: 2rem;
        width: 50%;
        color: variable.$white;

        text-align: justify;

        svg {
            width: 35px;
        }

        svg:nth-child(1) {
            margin-bottom: 20px;
            margin-right: 10px;
        }

        svg:nth-child(2) {
            margin-left: 15px;
            margin-bottom: -55px;
        }
    }

    div.image_box {
        height: 300px;
        width: 320px;

        border: variable.$border-client solid variable.$white;
        border-radius: 4px;
        rotate: 5deg;

        img {
            object-fit: cover;
        }
    }
}